@model CoreCRUDwithORACLE.Models.ActaResponse

@{
    ViewData["Title"] = "Edit";
}

<h1>Asignación de juntas</h1>

<div id="wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <table>
                            <tr>
                                <th>
                                    <a asp-action="Index" class="btn btn-block btn-info">  Regresar   </a>
                                </th>
                                <th>
                                    <a asp-controller="Home" asp-action="Index" class="btn btn-block btn-secondary">  Ir al Inicio  </a>
                                </th>
                                <th>
                                    <a asp-controller="Account" asp-action="Logout" class="btn btn-block btn-danger">Salir</a>
                                </th>
                            </tr>
                        </table>

                   
                    <div class="card">
                        <div class="card-header">
                           
                        </div>

                        <!-- /.card-header -->
                        <div class="card-body">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="COD_JUNTA" class="control-label"></label>
                                    <input asp-for="COD_JUNTA" class="form-control" readonly />
                                    <span asp-validation-for="COD_JUNTA" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CEDULA" class="control-label"></label>
                                    <input asp-for="CEDULA" class="form-control" />
                                    <span asp-validation-for="CEDULA" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Nom_Canton" class="control-label"></label>
                                    <input asp-for="Nom_Canton" class="form-control" readonly />
                                    <span asp-validation-for="Nom_Canton" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Nom_Parroquia" class="control-label"></label>
                                    <input asp-for="Nom_Parroquia" class="form-control" readonly />
                                    <span asp-validation-for="Nom_Parroquia" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Nom_Zona" class="control-label"></label>
                                    <input asp-for="Nom_Zona" class="form-control" readonly />
                                    <span asp-validation-for="Nom_Zona" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
                          
                        

                        @section Scripts {
                            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                        }
