@model CoreCRUDwithORACLE.Models.Usuario

@{
    ViewData["Title"] = "ActualizaClave";
}

<h1>Actualizar Clave de Usuario</h1>

<hr />

<div id="wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div>
                        <table>
                            <tr>
                                <th>
                                    <a asp-action="Index" class="btn btn-block btn-info">  Regresar   </a>
                                </th>
                                <th>
                                    <a asp-controller="Home" asp-action="Index" class="btn btn-block btn-secondary">  Ir al Inicio  </a>
                                </th>
                                <th>
                                    <a asp-controller="Account" asp-action="Logout" class="btn btn-block btn-danger">Salir</a>
                                </th>
                            </tr>
                        </table>



                    </div>
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Datos del usuario</h3>
                        </div>
                        <div class="card-body">

                            <form asp-action="ActualizaClave">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group" hidden="hidden">
                                    <label asp-for="COD_USUARIO" class="control-label"></label>
                                    <input asp-for="COD_USUARIO" class="form-control" readonly />
                                    <span asp-validation-for="COD_USUARIO" class="text-danger"></span>
                                </div>
                                @Html.HiddenFor(m => m.CEDULA)
                                <div class="form-group">
                                    <label asp-for="NOMBRE" class="control-label"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-credit-card"></i></span>
                                        </div>
                                        <input asp-for="NOMBRE" type="text" class="form-control" readonly>
                                    </div>
                                    <span asp-validation-for="NOMBRE" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CLAVE" class="control-label"></label>
                                    <input asp-for="CLAVE" class="form-control" />
                                    <span asp-validation-for="CLAVE" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

</div>