@model CoreCRUDwithORACLE.Models.UsuarioViewModel

@{
    ViewData["Title"] = "Modifica Usuario";
}

<h1>Modifica Usuario</h1>

<hr />

<div id="wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div>
                        <table>
                            <tr>
                                <th>
                                    <a asp-action="Index" class="btn btn-block btn-info">  Regresar   </a>
                                </th>
                                <th>
                                    <a asp-controller="Home" asp-action="Index" class="btn btn-block btn-secondary">  Ir al Inicio  </a>
                                </th>
                                <th>
                                    <a asp-controller="Account" asp-action="Logout" class="btn btn-block btn-danger">Salir</a>
                                </th>
                            </tr>
                        </table>



                    </div>
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Datos del usuario</h3>
                        </div>
                        <div class="card-body">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group" hidden="hidden">
                                    <label asp-for="COD_USUARIO" class="control-label"></label>
                                    <input asp-for="COD_USUARIO" class="form-control" readonly />
                                    <span asp-validation-for="COD_USUARIO" class="text-danger"></span>
                                </div>
                                @*<div class="form-group">
                                        <label asp-for="COD_PROVINCIA" class="control-label"></label>
                                        <input asp-for="COD_PROVINCIA" class="form-control" />
                                        <span asp-validation-for="COD_PROVINCIA" class="text-danger"></span>
                                    </div>*@
                                <div class="form-group">
                                    <label asp-for="codProvincia"></label>
                                    <select asp-for="codProvincia"
                                            class="form-control"
                                            asp-items="@(new SelectList(Model.provincias,"Value", "Text"))">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CEDULA" class="control-label"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-credit-card"></i></span>
                                        </div>
                                        <input asp-for="CEDULA" type="text" class="form-control" maxlength="10" data-inputmask='"mask": "9999999999"' data-mask readonly>
                                    </div>
                                    <span asp-validation-for="CEDULA" class="text-danger"></span>
                                </div>
                                @*<div class="form-group">
                                        <label asp-for="DIGITO" class="control-label"></label>
                                        <input asp-for="DIGITO" class="form-control" readonly />
                                        <span asp-validation-for="DIGITO" class="text-danger"></span>
                                    </div>*@
                                @Html.HiddenFor(u => u.LOGEO)
                                @Html.HiddenFor(u => u.DIGITO)
                                @*<div class="form-group">
                                        <label asp-for="CLAVE" class="control-label"></label>
                                        <input asp-for="CLAVE" class="form-control" />
                                        <span asp-validation-for="CLAVE" class="text-danger"></span>
                                    </div>*@
                                <div class="form-group">
                                    <label asp-for="NOMBRE" class="control-label"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user-check"></i></span>
                                        </div>
                                        <input asp-for="NOMBRE" type="text" class="form-control" maxlength="30">
                                    </div>
                                    <span asp-validation-for="NOMBRE" class="text-danger"></span>
                                </div>
                                @*<div class="form-group">
                                        <label asp-for="ROL" class="control-label"></label>
                                        <input asp-for="ROL" class="form-control" />
                                        <span asp-validation-for="ROL" class="text-danger"></span>
                                    </div>*@
                                <div class="form-group">
                                    <label asp-for="codRol"></label>
                                    <select asp-for="codRol"
                                            class="form-control"
                                            asp-items="@(new SelectList(Model.roles,"Value", "Text"))">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MAIL" class="control-label"></label>
                                    <div class="input-group-prepend">
                                        <input a asp-for="MAIL" type="email" class="form-control" placeholder="Email">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-envelope"></span>
                                            </div>
                                        </div>
                                        <span asp-validation-for="MAIL" class="text-danger"></span>
                                    </div>
                                    <span asp-validation-for="MAIL" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TELEFONO" class="control-label"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                        </div>
                                        <input asp-for="TELEFONO" type="text" class="form-control" data-inputmask='"mask": "9999999999"' data-mask>
                                    </div>
                                    <span asp-validation-for="TELEFONO" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ESTADO" class="control-label"></label>
                                    <div class="input-group">
                                        <div class="custom-control custom-switch">
                                            <span class="input-group-text"><i class="fas fa-exclamation-circle"></i></span>
                                        </div>
                                        <input asp-for="ESTADO" type="checkbox">
                                    </div>

                                    <span asp-validation-for="ESTADO" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<!-- bs-custom-file-input -->
<script src="~/FrontEnd/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>