@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Enceramiento Base</h1>
<div asp-validation-summary="All" class="text-danger"></div>
<table>
    <tr>
        <th>
            <a asp-action="EncerarBase" class="btn btn-block btn-primary">Encerar Base</a>
        </th>
    </tr>
</table>
<div>
    <a asp-controller="Home" asp-action="Index">Regresar al Inicio | </a>
    <a asp-controller="Account" asp-action="Logout">Salir</a>
</div>
