@model CoreCRUDwithORACLE.Models.UsuarioViewModel

@{
    ViewData["Title"] = "IngresaUsuario";
}

<div id="wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div>
                        <table>
                            <tr>
                                <th>
                                    <a asp-action="Index" class="btn btn-block btn-info">  Regresar   </a>
                                </th>
                                <th>
                                    <a asp-controller="Home" asp-action="Index" class="btn btn-block btn-secondary">  Ir al Inicio  </a>
                                </th>
                                <th>
                                    <a asp-controller="Account" asp-action="Logout" class="btn btn-block btn-danger">Salir</a>
                                </th>
                            </tr>
                        </table>



                    </div>
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">´Datos del nuevo usuario</h3>
                        </div>
                        <div class="card-body">
                            <form asp-action="IngresaUsuario">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="PROVINCIA"></label>
                                    <select asp-for="codProvincia"
                                            class="form-control"
                                            asp-items="@(new SelectList(Model.provincias,"Value", "Text"))">
                                    </select>
                                </div>
                                @Html.HiddenFor(u => u.LOGEO)
                                @*<div class="form-group">
                                        <label asp-for="LOGEO" class="control-label"></label>
                                         <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                                            </div>
                                            <input asp-for="LOGEO" type="text" class="form-control" maxlength="10">
                                        </div>

                                        <span asp-validation-for="LOGEO" class="text-danger"></span>
                                    </div>*@
                                <div class="form-group">
                                    <label asp-for="CEDULAC" class="control-label"></label>
                                    <!--<input asp-for="CEDULAC" class="form-control" oninput="this.value = this.value.replace(/[^0-9]/g,'')" />-->

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-credit-card"></i></span>
                                        </div>
                                        <input asp-for="CEDULAC" type="text" class="form-control" maxlength="10">
                                    </div>
                                    <span asp-validation-for="CEDULAC" class="text-danger"></span>
                                </div>
                                @*<div class="form-group">
                                        <label asp-for="DIGITO" class="control-label"></label>
                                        <input asp-for="DIGITO" class="form-control" />
                                        <span asp-validation-for="DIGITO" class="text-danger"></span>
                                    </div>*@
                                <div class="form-group">
                                    <label asp-for="CLAVE" class="control-label"></label>
                                    <!-- <input asp-for="CLAVE" class="form-control" />-->

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                        </div>
                                        <input asp-for="CLAVE" type="text" class="form-control" maxlength="8">
                                    </div>
                                    <span asp-validation-for="CLAVE" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NOMBRE" class="control-label"></label>
                                    <!--<input asp-for="NOMBRE" class="form-control" />-->
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user-check"></i></span>
                                        </div>
                                        <input asp-for="NOMBRE" type="text" class="form-control" maxlength="30">
                                    </div>
                                    <span asp-validation-for="NOMBRE" class="text-danger"></span>
                                </div>
                                @*<div class="form-group">
                                        <label asp-for="ROL" class="control-label"></label>
                                        <input asp-for="ROL" class="form-control" />
                                        <span asp-validation-for="ROL" class="text-danger"></span>
                                    </div>*@
                                <div class="form-group">
                                    <label asp-for="ROL"></label>
                                    <select asp-for="codRol"
                                            class="form-control"
                                            asp-items="@(new SelectList(Model.roles,"Value", "Text"))">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TELEFONO" class="control-label"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                        </div>
                                        <input asp-for="TELEFONO" type="text" class="form-control" data-inputmask='"mask": "9999999999"' data-mask>
                                    </div>
                                    <span asp-validation-for="TELEFONO" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MAIL" class="control-label"></label>
                                    <!--<input asp-for="MAIL" class="form-control" />-->

                                    <div class="input-group-prepend">
                                        <input a asp-for="MAIL" type="email" class="form-control" placeholder="Email">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-envelope"></span>
                                            </div>
                                        </div>
                                        <span asp-validation-for="MAIL" class="text-danger"></span>
                                    </div>

                                    <!--<span asp-validation-for="MAIL" class="text-danger"></span>-->
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Crear" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                @section Scripts {
                    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }
            </div>
        </div>
    </section>
</div>




<!-- jQuery -->
<script src="~/FrontEnd/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/FrontEnd/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Select2 -->
<script src="~/FrontEnd/plugins/select2/js/select2.full.min.js"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="~/FrontEnd/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<!-- InputMask -->
<script src="~/FrontEnd/plugins/moment/moment.min.js"></script>
<script src="~/FrontEnd/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="~/FrontEnd/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Bootstrap Switch -->
<script src="~/FrontEnd/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<!-- AdminLTE App -->
<script src="~/FrontEnd/dist/js/adminlte.min.js"></script>


<script>
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })

        //Datemask dd/mm/yyyy
        $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
        //Datemask2 mm/dd/yyyy
        $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
        //Money Euro
        $('[data-mask]').inputmask()

        //Date range picker
        $('#reservationdate').datetimepicker({
            format: 'L'
        });
        //Date range picker
        $('#reservation').daterangepicker()
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({
            timePicker: true,
            timePickerIncrement: 30,
            locale: {
                format: 'MM/DD/YYYY hh:mm A'
            }
        })
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: moment().subtract(29, 'days'),
                endDate: moment()
            },
            function (start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
            }
        )

        //Timepicker
        $('#timepicker').datetimepicker({
            format: 'LT'
        })

        //Bootstrap Duallistbox
        $('.duallistbox').bootstrapDualListbox()

        //Colorpicker
        $('.my-colorpicker1').colorpicker()
        //color picker with addon
        $('.my-colorpicker2').colorpicker()

        $('.my-colorpicker2').on('colorpickerChange', function (event) {
            $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
        });

        $("input[data-bootstrap-switch]").each(function () {
            $(this).bootstrapSwitch('state', $(this).prop('checked'));
        });

    })
</script>
